<!DOCTYPE html>
<!--suppress CssUnusedSymbol -->
<html lang="en">

<head>
</head>

<body>
  <form method="post" action="/login">
    <label>
      Secret
      <input type="text" name="secret">
    </label>
    <input type="submit" value="Login">
  </form>
</body>
